{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>WORKFORCE | HIGHEND CUSTOMERS ANOMALOUS</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<button title="GO BACK" type="button" class="btn btn-default btn-sm" onclick="history.back()">
 <i class="fas fa-reply"></i>
</button>

<h1 class="m-0">Anomalous Highend Pending Resolution</h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
 <ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item">
   <a href="{% url 'main:my-dashboard' %}">Home</a>
  </li>
  <li class="breadcrumb-item active">Highend</li>
 </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
 <!-- /.row -->
</div>
<section class="content">
 <div class="row">
  <div class="col-md-2">
   <div class="card">
    <div class="card-header">
     <h3 class="card-title text-uppercase">Anomalous Category</h3>

     <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
       <i class="fas fa-minus"></i>
      </button>
     </div>
    </div>
    <div class="card-body p-0">
     <ul class="nav nav-pills flex-column">
      <li class="nav-item active">
       <a href="{% url 'postpaid:highend-anomalous-dashboard' %}" class="nav-link">
        Netering Status Not Okay

       </a>
      </li>


      <li class="nav-item">
       <a href="{% url 'postpaid:highend-anomalous-unbilled' %}" class="nav-link">
        Pending Billing(Accounts that are greater than 1.5 * Avg consmuption)

       </a>
      </li>
     </ul>
    </div>
    <!-- /.card-body -->
   </div>
   <!-- /.card -->

   <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-10">
   <div class="card card-primary card-outline">
    <div class="card-header">
     <h3 class="card-title text-uppercase">{{name}}-{{meters_count}}</h3>

     <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
     <div class="col-lg-12">
      <div class="card">
       <div class="card-body">
        <div id="chart1"></div>
       </div>
      </div>

      <!-- /.col-md-6 -->
     </div>
     <div class="col-lg-12">

      <div class="card">
       <div class="card-body">


        {% if meters %}
        <div class="table-responsive">
         <table class="table table-bordered table-sm">
          <thead>
           <tr>
            <th></th>
            <th>MeterNo</th>
            <th>Account</th>
            <th>County</th>
            <th>Meter Type</th>
            <th>Metering Status</th>
            <th>Date Inspected</th>

            <th>System Reading</th>
            <th>Meter Reading</th>
            <th>AVG Units</th>
            <th>Unbilled Units</th>

           </tr>
          </thead>
          <tbody>
           {% for meterr in meters %}
           <tr>
            <td>{{ forloop.counter }}</td>

            <td title="CLICK TO VIEW MORE DETAILS"><a href="{% url 'postpaid:view-dc-inspected' meterr.id %}">{{meterr.meterno }}</a>
            </td>
            <td>{{ meterr.accountno }}</td>
            <td>{{ meterr.county }}</td>
            <td class='text-uppercase'>{{ meterr.metertype }}</td>
            <td class='text-uppercase'>{{ meterr.meteringstatus }}</td>
            <td>{{ meterr.dtadd|date:"d M Y" }}</td>

            <td>{{ meterr.system_reading }}</td>
            <td>{{ meterr.reading }}</td>
            <td>{{ meterr.threepase.units }}</td>
            <td>{{ meterr.diff|intcomma }}</td>
           </tr>
           {% endfor %}
          </tbody>
         </table>
         <p>
         <div class="pagination pagination-sm m-0 float-right">
          <span class="step-links">
           {% if meters.has_previous %}
           <a href="?page=1">&laquo; first</a>
           <a href="?page={{ meters.previous_page_number }}">previous</a>
           {% endif %}

           <span class="current">
            Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
           </span>

           {% if meters.has_next %}
           <a href="?page={{ meters.next_page_number }}">next</a>
           <a href="?page={{ meters.paginator.num_pages }}">last &raquo;</a>
           {% endif %}
          </span>
         </div>
         </p>
         <p>
          {% if name == 'Pending Billing Accounts' %}
          <a href="{% url 'postpaid:unbilled-anomalous-export-highend' %}" class="btn btn-primary btn-sm">Export List to csv</a>
           {% elif name == 'Pending Faulty Accounts' %}
          <a href="{% url 'postpaid:faulty-anomalous-export-highend' %}" class="btn btn-primary btn-sm">Export List to csv</a>
            {% endif %}
         </p>

        </div>
        {% else %}
        <p>
         NO RECORDS FOUND.
        </p>
        {% endif %}


       </div>
      </div>


     </div>
    </div>
    <!-- /.card-body -->

   </div>
   <!-- /.card -->
  </div>
  <!-- /.col -->
 </div>
 <!-- /.row -->
</section>
<!-- /.container-fluid -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
 var grapg1 = {{ df | safe }}
 Plotly.plot("chart1", grapg1, {})
</script>
{% endblock content %}