{% extends "index.html" %}
{% load widget_tweaks %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | CONFIRM ZEROBILL</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <h1 class="m-0"><small>Zerobill Confirmation</small></h1>
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Zerobill Confirm</li>
        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">


                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Input Form</h3>
                                <br>

                            </div>
                             <div>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div>

                                <form
                                        class="form-horizontal"
                                        method="POST"
                                        enctype="multipart/form-data"
                                        novalidate
                                >

                                    {% csrf_token %}
                                    <br>
                                    <button type="button" id="find-me" class="btn-primary">Click Here To Pick Location</button>
                                    <br/>
                                    <p id="status"></p>
                                    <a id="map-link" target="_blank"></a>

                                    {{ form.latitude }} {{ form.longitude }}

                                    {{ form.meterno.label_tag }}
                                    {{ form.meterno }}
                                    {{ form.accountno.label_tag }}
                                    {{ form.accountno }}

                                    {{ form.status4.label_tag }}
                                    {{ form.status4 }}

                                    {{ form.readings.label_tag }}
                                    {{ form.readings }}
                                   <span class="text-danger"><em>{{ form.readings.help_text }}</em></span>

                                    <hr>
                                    <h5 class="text-bold text-info">Meter Image</h5>


                                     {{ form.meterimg.label_tag }}
                                    {{ form.meterimg }}
                                    <hr>

                                    <br>
                                     {{ form.comment.label_tag }}
                                     {{ form.comment }}


                                    <br>




                                    </hr>
                                    <br>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">SUBMIT RECORD</button>


                                    </div>


                                </form>


                            </div>


                        </div>
                    </div>


                </div>
                <!-- /.col-md-6 -->

                <!-- /.col-md-6 -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->


{% endblock content %}













