{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | ZEROBILLS DASHBOARD</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <button title="GO BACK" type="button" class="btn btn-default btn-sm" onclick="history.back()">
        <i class="fas fa-reply"></i>
    </button>
    <a href="{% url 'postpaid:zerobills-confirmation-dashboard' %}" class="btn btn-default btn-sm" title="REFRESH">
        <i class="fas fa-sync-alt"></i>
    </a>
    <h1 class="m-0">Zerobills Confirmation Dashboard, {{region}} Region</h1>
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Analytics</li>
        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

    <div class="container-fluid">


        <div class="row">



            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Zerobills Confirmation Analysis, {{region}} Counties</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0 p-0 table-responsive">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                    <tr>

                                        <th>Region</th>
                                        <th>Target (Current Month)</th>
                                        <th>Confirmed</th>
                                        <th>Require Backoffice</th>
                                        <th>Backoffice (Pending)</th>
                                        <th>Today</th>
                                        <th>{{ yesterday }}</th>
                                        <th>{{ yesterday_1 }}</th>
                                        <th>{{ yesterday_2 }}</th>
                                        <th>{{ yesterday_3 }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for meterr in county_analytics %}
                                        <tr>

                                            <td>{{ meterr.name }}</td>
                                            <td>{{ meterr.dc_target_acs|intcomma }}</td>
                                            <td>{{ meterr.dc_inspected|intcomma }}</td>
                                            <td>{{ meterr.dc_insp_faulty|intcomma }}</td>
                                            <td>{{ meterr.un_validated|intcomma }}</td>
                                            <td>{{ meterr.today|intcomma }}</td>
                                            <td>{{ meterr.today_1|intcomma }}</td>
                                            <td>{{ meterr.today_2|intcomma }}</td>
                                            <td>{{ meterr.today_3|intcomma }}</td>
                                            <td>{{ meterr.today_4|intcomma }}</td>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.container-fluid -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">




    </script>
{% endblock content %}
</div>
