{% extends "index.html" %}
{% load widget_tweaks %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | REPLACE TELCOS</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <h1 class="m-0"><small>Telcos Meter Replacement Inspection</small></h1>
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Telcos Replacement</li>
        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">


                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Record Form</h3>
                                <br>

                            </div>
                             <div>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div>

                                <form
                                        class="form-horizontal"
                                        method="POST"
                                        enctype="multipart/form-data"
                                        novalidate
                                >

                                    {% csrf_token %}
                                    <br>
                                    <button type="button" id="find-me" class="btn-primary">Click Here To Pick Location</button>
                                    <br/>
                                    <p id="status"></p>
                                    <a id="map-link" target="_blank"></a>

                                    {{ form.x }} {{ form.y }}

                                    {{ form.siteid.label_tag }}
                                    {{ form.siteid }}
                                    {{ form.sitename.label_tag }}
                                    {{ form.sitename }}


                                    {{ form.county.label_tag }}
                                    {{ form.county }}

                                    {{ form.feeder_name.label_tag }}
                                    {{ form.feeder_name }}

                                    {{ form.txnumber.label_tag }}
                                    {{ form.txnumber }}

                                    {{ form.dedicated_lv.label_tag }}
                                    {{ form.dedicated_lv }}
                                    <hr>
                                    <h5 class="text-bold text-info">Meter To Be Removed Information</h5>


                                    {{ form.oldmeter.label_tag }}
                                    {{ form.oldmeter }}

                                    {{ form.phase.label_tag }}
                                    {{ form.phase }}

                                    {{ form.meteringstatus.label_tag }}
                                    {{ form.meteringstatus }}

                                     {{ form.faultystatus }}
                                    {{ form.tamperedstatus }}
                                    {{ form.bypassstatus }}

                                    {{ form.removal_reading.label_tag }}
                                    {{ form.removal_reading }}

                                     {{ form.removal_img.label_tag }}
                                    {{ form.removal_img }}
                                    <hr>
                                    <h5 class="text-bold text-info">Meter To Be Installed Information</h5>


                                    {{ form.newmeter.label_tag }}
                                    {{ form.newmeter }}


                                    {{ form.install_reading.label_tag }}
                                    {{ form.install_reading }}

                                    {{ form.seal_terminalcover.label_tag }}
                                    {{ form.seal_terminalcover }}

                                    {{ form.seal_gprs.label_tag }}
                                    {{ form.seal_gprs }}

                                    {{ form.gprs_ariel.label_tag }}
                                    {{ form.gprs_ariel }}

                                    {{ form.install_img.label_tag }}
                                    {{ form.install_img }}



                                    <br>
                                     {{ form.comment.label_tag }}
                                     {{ form.comment }}


                                    <br>




                                    </hr>
                                    <br>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">SUBMIT RECORD</button>


                                    </div>


                                </form>


                            </div>


                        </div>
                    </div>


                </div>
                <!-- /.col-md-6 -->

                <!-- /.col-md-6 -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->


{% endblock content %}













