{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | COMMISSION APPROVE</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    {#    <h1 class="m-0">#}
    {#        Search Substation#}
    {##}
    {#    </h1>#}
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>


        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Inspection Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0 table-responsive p-0">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>INSPECTION ITEM</th>
                                <th>FINDINGS</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>SSN</td>
                                <td>{{ lvinspection.substation.ssn }}</td>


                            </tr>
                            <tr>
                                <td>2</td>
                                <td>SSN NAME</td>
                                <td>{{ lvinspection.substation.name }}</td>


                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ORIGIN OF ELEMENT</td>
                                <td> {{ lvinspection.substation.originofelement }}</td>


                            </tr>
                            <tr>
                                <td>4</td>
                                <td>FEEDER ELEMENT</td>
                                <td>{{ lvinspection.substation.feederofelement }}</td>


                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>LOCATION</td>
                                <td>{{ lvinspection.substation.physicallocation }}</td>


                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>DATE OF INSPECTION</td>
                                <td>{{ lvinspection.dtupdate }}</td>


                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>INSPECTOR</td>
                                <td class="text-uppercase">KPL{{ lvinspection.inspectedby }}
                                    - {{ lvinspection.inspectedby.user.name }}
                                    <br>
                                    <span>MOBILE : {{ lvinspection.inspectedby.user.mobile }}</span></td>


                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>INSPECTOR NOTES</td>
                                <td class="text-uppercase">{{ lvinspection.inspect_notes }}</td>


                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <p><strong>INSPECTION DETAILS</strong></p>
                                </td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>LOCATION</td>
                                <td class="text-uppercase">{{ lvinspection.location }}
                                </td>


                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>DATE OF COMMISSION</td>
                                <td class="text-uppercase">{{ lvinspection.dt_commission }}
                                </td>


                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>CONTROL CNETER</td>
                                <td class="text-uppercase">{{ lvinspection.control_center }}

                                </td>


                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>PTW No</td>
                                <td class="text-uppercase">{{ lvinspection.ptw_no }}

                                </td>


                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>TYPE OF CHANGE</td>
                                <td class="text-uppercase">{{ lvinspection.typeofchange }}

                                </td>


                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>TYPE OF LOAD</td>
                                <td class="text-uppercase">{{ lvinspection.typeofload }}

                                </td>


                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>DCS REFERENCE</td>
                                <td class="text-uppercase">{{ lvinspection.dcs_reference }} <br>

                                </td>


                            </tr>
                            <tr>
                                <td>16.</td>
                                <td>REREC REFERENCE</td>
                                <td class="text-uppercase">{{ lvinspection.rerec_reference }}
                                </td>


                            </tr>
                            <tr>
                                <td>17.</td>
                                <td>INTERNAL ORDER</td>
                                <td class="text-uppercase">{{ lvinspection.internalorder }}</td>


                            </tr>

                            <tr>
                                <td>18.</td>
                                <td>LAST MILE REFERENCE</td>
                                <td class="text-uppercase">{{ lvinspection.lastmile_reference }}</td>
                            </tr>
                             <tr>
                                <td>18.</td>
                                <td>MAKE</td>
                                <td class="text-uppercase">{{ lvinspection.make }}</td>
                            </tr>
                            <tr>
                                <td>18.</td>
                                <td>GNUMBER </td>
                                <td class="text-uppercase">{{ lvinspection.gnumber }}</td>
                            </tr>
                            <tr>
                                <td>18.</td>
                                <td>YOM</td>
                                <td class="text-uppercase">{{ lvinspection.yom }}</td>
                            </tr>
                             <tr>
                                <td>18.</td>
                                <td>KVA RATING</td>
                                <td class="text-uppercase">{{ lvinspection.kvarating }}</td>
                            </tr>
                            <tr>
                                <td>18.</td>
                                <td>VOLTAGE</td>
                                <td class="text-uppercase">{{ lvinspection.voltage }}</td>
                            </tr>
                             <tr>
                                <td>18.</td>
                                <td>TX WEIGHT</td>
                                <td class="text-uppercase">{{ lvinspection.txweight }}</td>
                            </tr>

                            <tr>
                                <td>19.</td>
                                <td>TX STATUS <br>
                                    REFURBISHED BY <br>
                                    KPLC WORKSHOP
                                </td>
                                <td class="text-uppercase">{{ lvinspection.txstatus }} <br>
                                    {{ lvinspection.refurbishedby }} <br>
                                    {{ lvinspection.kplcworkshop }}


                                </td>
                            </tr>
                            <tr>
                                <td>20.</td>
                                <td>HT ISOLATION
                                </td>
                                <td class="text-uppercase">{{ lvinspection.htisolation }}

                                </td>
                            </tr>
                            <tr>
                                <td>21.</td>
                                <td>NO OF CIRCUITS
                                </td>
                                <td class="text-uppercase">{{ lvinspection.noofcircuits }}

                                </td>
                            </tr>
                            <tr>
                                <td>22.</td>
                                <td>LV PROTECTION
                                </td>
                                <td class="text-uppercase">{{ lvinspection.lvprotection }}

                                </td>
                            </tr>
                            <tr>
                                <td>23.</td>
                                <td>TX PROTECTION
                                </td>
                                <td class="text-uppercase">{{ lvinspection.txprotection }}

                                </td>
                            </tr>
                            <tr>
                                <td>24.</td>
                                <td>SURGE ARRESTERS VALUES-RED
                                </td>
                                <td class="text-uppercase">{{ lvinspection.surged_red }}

                                </td>
                            </tr>
                            <tr>
                                <td>25.</td>
                                <td>SURGE ARRESTERS VALUES-YELLOW
                                </td>
                                <td class="text-uppercase">{{ lvinspection.surged_yellow }}

                                </td>
                            </tr>
                            <tr>
                                <td>26.</td>
                                <td>SURGE ARRESTERS VALUES-BLUE
                                </td>
                                <td class="text-uppercase">{{ lvinspection.surged_blue }}

                                </td>
                            </tr>
                            <tr>
                                <td>27.</td>
                                <td>ARCING HORNS SINGLE
                                </td>
                                <td class="text-uppercase">{{ lvinspection.arcinghorns_single }}

                                </td>
                            </tr>
                            <tr>
                                <td>28.</td>
                                <td>ARCING HORNS SINGLE
                                </td>
                                <td class="text-uppercase">{{ lvinspection.arcinghorns_dublex }}

                                </td>
                            </tr>
                            <tr>
                                <td>29.</td>
                                <td>NUMBER OF TAP POSITIONS
                                </td>
                                <td class="text-uppercase">{{ lvinspection.nooftappositions }}

                                </td>
                            </tr>
                            <tr>
                                <td>30.</td>
                                <td>VOLTAGE TAPPING SET AT TAP
                                </td>
                                <td class="text-uppercase">{{ lvinspection.voltagetappingsetattap }}

                                </td>
                            </tr>
                            <tr>
                                <td>31.</td>
                                <td>EARTHING VALUES AT STRUCTURE - HT
                                </td>
                                <td class="text-uppercase">{{ lvinspection.earthval_at_structure_ht }}

                                </td>
                            </tr>
                             <tr>
                                <td>31.</td>
                                <td>EARTHING VALUES AT STRUCTURE - SD
                                </td>
                                <td class="text-uppercase">{{ lvinspection.earthval_at_structure_sd }}

                                </td>
                            </tr>
                            <tr>
                                <td>32.</td>
                                <td>LV ONE SPAN AWAY
                                </td>
                                <td class="text-uppercase">{{ lvinspection.lv_onespanaway }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) HV B-R
                                </td>
                                <td class="text-uppercase">{{ lvinspection.hv_b_r }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) HV R-Y
                                </td>
                                <td class="text-uppercase">{{ lvinspection.hv_r_y }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) HV Y-B
                                </td>
                                <td class="text-uppercase">{{ lvinspection.hv_y_b }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) LV b-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.lv_b_n }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) LV r-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.lv_r_n }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Winding Continuity (Ohms) LV y-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.lv_y_n }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Insulation(m-Ohms) -HV-L LV-E
                                </td>
                                <td class="text-uppercase">{{ lvinspection.insul_lve }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Insulation(m-Ohms) -HV-L HV-LV
                                </td>
                                <td class="text-uppercase">{{ lvinspection.insul_hv_lv }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Insulation(m-Ohms) -HV-L HV-E
                                </td>
                                <td class="text-uppercase">{{ lvinspection.insul_hv_e }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) b-r
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_b_r }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) r-y
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_r_y }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) y-b
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_y_b }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) b-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_b_n }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) r-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_r_n }}

                                </td>
                            </tr>
                             <tr>
                                <td>33.</td>
                                <td>Voltage Measurements (LV) y-n
                                </td>
                                <td class="text-uppercase">{{ lvinspection.volt_y_n }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>HT Fuse Ratings (amps) R
                                </td>
                                <td class="text-uppercase">{{ lvinspection.htfuse_r }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>HT Fuse Ratings (amps) Y
                                </td>
                                <td class="text-uppercase">{{ lvinspection.htfuse_y }}

                                </td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>HT Fuse Ratings (amps) B
                                </td>
                                <td class="text-uppercase">{{ lvinspection.htfuse_b }}

                                </td>
                            </tr>
                            <tr>
                                <td>34.</td>
                                <td>PHASE ROTATION
                                </td>
                                <td class="text-uppercase">{{ lvinspection.phasetotation }}

                                </td>
                            </tr>
                            <tr>
                                <td>35.</td>
                                <td>INSPECTION COMMENTS/NOTES
                                </td>
                                <td class="text-uppercase">{{ lvinspection.comments }}

                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                        <form class="form-horizontal" action="" method="post">

                            {% csrf_token %}
                            <div class="form-group row" id="retention_req">
                                <label for="retention_req" class="col-sm-3 col-form-label text-sm">Choose Status</label>
                                <div class="col-sm-9">
                                    {{ form.aprv_key }}
                                </div>
                            </div>
                            <div class="form-group row" id="retention_req">
                                <label for="retention_req" class="col-sm-3 col-form-label text-sm">Approve Notes</label>
                                <div class="col-sm-9">
                                    {{ form.aprv_notes }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Approval</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.row -->

    <!-- /.container-fluid -->

{% endblock content %}
















