
{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>WORKFORCE | DEBT LIST</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <button title="GO BACK" type="button" class="btn btn-default btn-sm" onclick="history.back()">
        <i class="fas fa-reply"></i>
    </button>
    <a href="{% url 'revenue:debt-list-mytarget' %}" class="btn btn-default btn-sm" title="REFRESH">
        <i class="fas fa-sync-alt"></i>
    </a>
<h1 class="m-0">
  My Debt List Target
 
</h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'revenue:achievement-list' %}">My-Actions-Today</a>
    </li>
    <li class="breadcrumb-item active">Target</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
         

          <p> <form action="{% url 'revenue:search-asigned_by-meter' %}">
            <div class="input-group">
              <input
                type="text"
                name="keyword"
                required
                class="form-control form-control-lg"
                placeholder="Search By Meter Number"
              />
              <div class="input-group-append">
                <button type="submit" class="btn btn-lg btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            
          </form></p>
          <p> <form action="{% url 'revenue:search-asigned_by-itin' %}">
            <div class="input-group">
              <input
                type="text"
                name="keyword"
                required
                class="form-control form-control-lg"
                placeholder="Search By Itin"
              />
              <div class="input-group-append">
                <button type="submit" class="btn btn-lg btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form></p>
            

          {% if meters %}
          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead>
                  <tr>
                    <th></th>
                    <th>MeterNo</th>
                    <th>Account</th>

                    <th>Customer Name</th>

                    <th>Total Amount</th>
                      <th>Paid Amount</th>
                    <th>Itin</th>
                      <th>Sector</th>
                      <th>Zone</th>
                    <th>Location</th>
                      <th>cordinates</th>
                   
                  
                   
                  
                  </tr>
                </thead>
                <tbody>
                  {% for meterr in meters %}
                  <tr>
                  <td>{{forloop.counter}}</td>

                  <td title="CLICK TO VIEW MORE DETAILS"><a href="{% url 'revenue:view-debtaccount' meterr.id %}">{{meterr.meterno}}</a> </td>
                   <td>{{meterr.accountno}}</td>

                   <td>{{meterr.name}}</td>

                   <td class="text-right">{{meterr.totalbalance|intcomma}}</td>
                       <td class="text-right">{{meterr.amount_paid|intcomma}}</td>
                      <td>{{meterr.itin}}</td>
{#                   <td title="CLICK TO VIEW MORE DETAILS"><a href="{% url 'revenue:debtlist-itins' meterr.itin %}">{{meterr.itin}}</a> </td>#}
                  <td>{{meterr.sector}}</td>
                      <td>{{meterr.zone}}</td>
                   <td>{{meterr.location}}</td>
{#                   <td>{{meterr.xcood}},{{meterr.ycood}}</td>#}
                  <td>
                                                    <a href="http://maps.google.com/maps?q={{ meterr.xcood }},{{ meterr.ycood }}" target="_blank">{{meterr.xcood}},{{meterr.ycood}}</a>
                                                </td>
                  
                 
                    
                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <p>
                <div class="pagination pagination-sm m-0 float-right">
                  <span class="step-links">
                    {% if meters.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ meters.previous_page_number }}">previous</a>
                    {% endif %}
    
                    <span class="current">
                      Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
                    </span>
    
                    {% if meters.has_next %}
                    <a href="?page={{ meters.next_page_number }}">next</a>
                    <a href="?page={{ meters.paginator.num_pages }}"
                      >last &raquo;</a
                    >
                    {% endif %}
                  </span>
              </div>
              </p>
              <p>
                <a href="{% url 'revenue:export-my-debtlist' %}" class="btn btn-primary btn-sm">EXPORT TO CSV</a>
              </p>


             

          </div>
          {% else %}
          <p>
            NO RECORDS FOUND.
          </p>
          {% endif %}


        </div>
      </div>


    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock content %}





































