{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>FOA | Analytics</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<h1 class="m-0">
  Revenue Collection Staff Performance Analytics: {{county}} county
</h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home Page</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'prepaid:analytics-report' %}">Analytics Page</a>
    </li>
    <li class="breadcrumb-item active">Staff Performance Page</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <!-- /.Analytic Table -->

          <div class="row">
            <div class="card-body table-responsive p-0">
              <br />
              <h3 class="card-title">
                <strong>User Target </strong>
              </h3>
              <table class="table table-bordered table-sm">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Staff Number</th>
                    <th>Mobile</th>
                    <th>Target Accounts</th>
                  </tr>
                </thead>
                <tbody>
                  {% for analytic in analytics %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                      {{analytic.staff}} -
                      {{analytic.staff.name}}
                    </td>
                    <td>{{analytic.staff.mobile}}</td>

                    <td>
                      <strong style="color: red"
                        >{{analytic.c_target_accounts|intcomma}}</strong
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <!-- /.Analytic Table -->

          <div class="row">
            <div class="card-body table-responsive p-0">
              <br />
              <h3 class="card-title">
                <strong
                  >Overall User Resolution Progress Report
                  (Paid/Discon/Fdc)</strong
                >
              </h3>
              <table class="table table-bordered table-sm table responsive">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>User</th>
                    <th>Mobile</th>
                    <th>Resolution-Overall</th>
                    <th>Resolution-Today</th>
                    <th>Resolution-Yesterday</th>
                  </tr>
                </thead>
                <tbody>
                  {% for analytic1 in analytics1 %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                      {{analytic1.staff}} -
                      {{analytic1.user__user_id__name}}
                    </td>
                    <td>{{analytic1.user__user_id__mobile}}</td>

                    <td>
                      {{analytic1.c_collection_total|intcomma}} -
                      ({{analytic1.c_collection_total_accounts_p|intcomma}} /
                      {{analytic1.c_collection_total_accounts_disc|intcomma}} /
                      {{analytic1.c_collection_total_accounts_fdc|intcomma}})
                    </td>
                    <td>
                      {{analytic1.c_collection_td_accounts|intcomma }} -
                      ({{analytic1.c_collection_td_accounts_p|intcomma}} /
                      {{analytic1.c_collection_td_accounts_disc|intcomma}} /
                      {{analytic1.c_collection_td_accounts_fdc|intcomma}})
                    </td>
                    <td>
                      {{analytic1.c_collection_y_accounts|intcomma }} -
                      ({{analytic1.c_collection_y_accounts_p|intcomma}} /
                      {{analytic1.c_collection_y_accounts_disc|intcomma}} /
                      {{analytic1.c_collection_y_accounts_fdc|intcomma}})
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock content %}
