{% extends "index.html" %}
{% load widget_tweaks %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE |LARGE POWER INSPECTION</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <h1 class="m-0"><small>Large Power Inspection</small></h1>
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">LP Inspection</li>
        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">


                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Insert New LP Account</h3>


                            </div>
                            <div>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div>

                                <form
                                        class="form-horizontal"
                                        method="POST"
                                        enctype="multipart/form-data"
                                        novalidate
                                >

                                    {% csrf_token %}
                                    <br>


                                    <hr>
                                    <div>
                                        <div class="form-group row">
                                            <label for="meterno" class="col-sm-3 col-form-label text-sm">Meter
                                                Number</label>
                                            <div class="col-sm-9">
                                                {{ form.meterno }}
                                                <span class="text-danger"><em>{{ form.meterno.help_text }}</em></span>
                                            </div>

                                        </div>
                                        
                                    </div>
                                    <div>
                                        <div class="form-group row">
                                            <label for="accountno" class="col-sm-3 col-form-label text-sm">Account Number</label>
                                            <div class="col-sm-9">
                                                {{ form.accountno }}
                                                <span class="text-danger"><em>{{ form.accountno.help_text }}</em></span>
                                            </div>

                                        </div>

                                    </div>
                                     <div>
                                        <div class="form-group row">
                                            <label for="srn" class="col-sm-3 col-form-label text-sm">SRN</label>
                                            <div class="col-sm-9">
                                                {{ form.srn }}
                                                <span class="text-danger"><em>{{ form.srn.help_text }}</em></span>
                                            </div>

                                        </div>

                                    </div>
                                    <div>
                                        <div class="form-group row">
                                            <label for="customer_name" class="col-sm-3 col-form-label text-sm">Customer Name</label>
                                            <div class="col-sm-9">
                                                {{ form.customer_name }}
                                                <span class="text-danger"><em>{{ form.customer_name.help_text }}</em></span>
                                            </div>

                                        </div>

                                    </div>
                                     <div>
                                        <div class="form-group row">
                                            <label for="region" class="col-sm-3 col-form-label text-sm">Region</label>
                                            <div class="col-sm-9">
                                                {{ form.region }}
                                                <span class="text-danger"><em>{{ form.region.help_text }}</em></span>
                                            </div>

                                        </div>

                                    </div>
                                     <div>
                                        <div class="form-group row">
                                            <label for="county" class="col-sm-3 col-form-label text-sm">County</label>
                                            <div class="col-sm-9">
                                                {{ form.county }}
                                                <span class="text-danger"><em>{{ form.county.help_text }}</em></span>
                                            </div>

                                        </div>

                                    </div>

                                    </hr>
                                    <br>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">SUBMIT RECORD</button>


                                    </div>


                                </form>


                            </div>


                        </div>
                    </div>


                </div>
                <!-- /.col-md-6 -->

                <!-- /.col-md-6 -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock content %}














