
{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>BOA | My-Responsible Tickets</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<h1 class="m-0">
  MY-RESPONSIBLE TICKETS
 
</h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">My-Responsible</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">You Have <strong style="color: red">{{ meters_pending }}</strong>  Tickets </h5><br>

          <p>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                      <th>TicketsID</th>
                      <th>County</th>
                      <th>Sector</th>
                      <th>Category</th>
                      <th>Meter Number</th>
                      <th>Meter Readings</th>
                      <th>Customer Contact</th>
                      <th>Date Uploaded </th>
                      <th>Asigned</th>
                      <th>RCCS Number</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for meterr in meters %}
                    <tr>
                      <td>{{meterr.id}}</td>
                      <td>{{meterr.county}}</td>
                      <td>{{meterr.sector}}</td>
                      {% if meterr.anomalytype == 'faultymeter' %}
                      <td>FAULTY METER</td>
                      {% endif %} {% if meterr.anomalytype == 'meternotinincms' %}
                      <td>METER NOT INCMS</td>
                      {% endif %} {% if meterr.anomalytype == 'rebilling' %}
                      <td>REBILLING</td>
                      {% endif %} {% if meterr.anomalytype == 'irregularity' %}
                      <td>IRREGULARITY</td>
                      {% endif %} {% if meterr.anomalytype == 'retrofit' %}
                      <td>ILLEGAL RETROFIT</td>
                      {% endif %} {% if meterr.anomalytype == 'directconnecction' %}
                      <td>DIRECT CONNECTION</td>
                      {% endif %} {% if meterr.anomalytype == 'idle' %}
                      <td>IDLE METER</td>
                      {% endif %}
                      <td title="CLICK TO VIEW MORE DETAILS"><a href="{% url 'main:view-uploaded-asigned' meterr.id %}">{{meterr.meternumber}}</a> </td>
                      <td>{{meterr.readings}}</td>
                      <td>{{meterr.customercontact}}</td>
                      <td>{{meterr.dtadd|timesince }} Ago</td>
                      <td>{{meterr.asigned}}</td>
                      <td>{{meterr.rccsNumber}}</td>
                      {% if meterr.status == 'pending' %}
                      <td><span class="badge bg-warning">Pending</span></td>
                      {% else %}
                      <td><span class="badge bg-success">Resolved</span></td>
                      {% endif %}
                      <td class="project-actions text-right">

                        <a
                        class="btn btn-success btn-sm"
                        title="CLICK TO MARK AS RESOLVED"
                        href="{% url 'main:resolve-upload' meterr.id %}"
                      >
                        <i class="fas fa-pencil-alt"> </i>
                      
                      </a>
                      

                        <a
                          class="btn btn-warning btn-sm"
                          title="CLICK TO ESCALATE"
                          href="{% url 'main:update-upload' meterr.id %}"
                        >
                          <i class="fas fa-pencil-alt"> </i>
                        
                        </a>
                        
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          
            </div>
            </p>
            <div class="pagination pagination-sm m-0 float-right">
              <span class="step-links">
                {% if meters.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ meters.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
                </span>

                {% if meters.has_next %}
                <a href="?page={{ meters.next_page_number }}">next</a>
                <a href="?page={{ meters.paginator.num_pages }}"
                  >last &raquo;</a
                >
                {% endif %}
              </span>
          </div>



     

        </div>
      </div>


    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock content %}
















