{% extends "index.html" %}
{% load widget_tweaks %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>BOA | Upload Anomaly</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<h1 class="m-0"> <small>County Configuration</small></h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Upload New Anomaly</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">


          <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Record Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
       <form
          class="form-horizontal"
          method="POST"
          enctype="multipart/form-data"
          novalidate
        >
          {% csrf_token %}
          {% include 'form_snippet.html' %}
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">SUBMIT</button>
            
        
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
   

        </div>
      </div>


    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title m-0">INFO</h5>
        </div>
        <div class="card-body">
          

          <p class="card-text">Fill all the necessary fields. Kindly note:
            <ul>
              <li>All Fields are important</li>
              <li>Every County Should have a CSE Configuration</li>
              <li>Every Anomaly uploaded will be directly and only asigned to the CSE configured to the county</li>
             
             
             
            </ul>
          </p>

          <a href="{% url 'main:my-uploaded-list' %}" class="btn btn-primary">Go Back</a>
         
       
          </a>
         
        </div>
      </div>

  
    </div>
    <!-- /.col-md-6 -->
  </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>


{% endblock content %}














