{% extends "index.html" %}
{% load widget_tweaks %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>BOA | Upload Anomaly</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<h1 class="m-0"> <small><a href="{% url 'change-sector' %}">{{sectorname.county}}</a> COUNTY</small></h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Upload New Anomaly</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">


          <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Record Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div>
        <p mt-3 class="text-center">This record will be saved in {{sectorname.county}} County. You can change the county by clicking <a href="{% url 'change-sector' %}">here</a></p></div>
       <form
          class="form-horizontal"
          method="POST"
          enctype="multipart/form-data"
          novalidate
        >
          {% csrf_token %}
          {% include 'form_snippet.html' %}
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">SUBMIT</button>
            
        
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
   

        </div>
      </div>


    </div>
    <!-- /.col-md-6 -->
   <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title m-0">INFO</h5>
        </div>
        <div class="card-body">
          

          <p class="card-text">Fill all the necessary fields. Once the form is saved, it will be asigned to the County
            Commercial Engineer with a status pending. 
            The Status will change once the resolution is done and confirmed in INCMS. Kindly note:
            <ul>
              <li>All Fields are important</li>
              <li>Incase the readings are not visible, leave the readings field field blank</li>
              <li>Make sure you upload a clear picture, where the meter number and readings are visible. The image should not be more than 3MB</li>
              <li>Write a clear and understandable narration.</li>
              <li>Once successfully uploaded, the record will be asigned to the CCE with a status pending until resolved in INCMS.</li>
             
             
            </ul>
          </p>

          <a href="{% url 'main:my-uploaded-list' %}" class="btn btn-primary">Go Back</a>
         
       
          </a>
         
        </div>
      </div>

  
    </div>
    <!-- /.col-md-6 -->
  </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock content %}














