{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
<title>BOA | My-Uploads</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
<h1 class="m-0">
  MY INSPECTIONS
 
</h1>
{% endblock pagetitle %} {% block breadcrumb %}

<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
      <a href="{% url 'main:my-dashboard' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">My-Inspections</li>
  </ol>
</div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- /.col-md-6 -->
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">You Have <strong style="color :red"> {{meters_pending}} </strong>  Inspections</h5><br>

          <p>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
              <thead>
                  <tr>
                    
                    <th>Meter Number</th>
                    <th>Account Number</th>
                    <th>Feeder</th>
                    <th>Customer Name</th>
                    <th>Metering Status</th>
                    <th>Installation Status</th>
                    <th>Service Type</th>
                    <th>Reading</th>
                    
                    <th>Date Uploaded</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for meterr in meters %}
                  <tr>
                  
                    <td>{{meterr.meterno}}</td>
                    <td>{{meterr.accountno}}</td>              
                    <td>{{meterr.connection.feeder}}</td>
                    <td>{{meterr.connection.customer_name}}</td>
                    <td>{{meterr.meteringstatus}}</td>
                    <td>{{meterr.installationstatus}}</td>
                    <td>{{meterr.connection.type}}</td>
                    <td>{{meterr.reading}}</td>
                    <td>{{meterr.dtadd|date:"d M Y"}}</td>
  

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          
            </div>
            </p>
            <div class="pagination pagination-sm m-0 float-right">
              <span class="step-links">
                {% if meters.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ meters.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
                </span>

                {% if meters.has_next %}
                <a href="?page={{ meters.next_page_number }}">next</a>
                <a href="?page={{ meters.paginator.num_pages }}"
                  >last &raquo;</a
                >
                {% endif %}
              </span>
          </div>



     

        </div>
      </div>


    </div>

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">You Have <strong style="color :red"> </strong> Meter Not In Feeder Inspections</h5><br>

          <p>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
              <thead>
                  <tr>
                    
                    <th>Meter Number</th>
                    <th>Feeder</th>
                    <th>Customer Name</th>
                    <th>Metering Status</th>
                    <th>Installation Status</th>
                    <th>Service Type</th>
                    <th>Reading</th>
                    
                    <th>Date Uploaded</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for meterr in meters1 %}
                  <tr>
                  
                    <td>{{meterr.meterno}}</td>           
                    <td>{{meterr.feeder}}</td>
                    <td>{{meterr.metertype}}</td>
                    <td>{{meterr.meteringstatus}}</td>
                    <td>{{meterr.installationstatus}}</td>
                    <td>{{meterr.txnumber}}</td>
                    <td>{{meterr.neighbour_Meter}}</td>
                    <td>{{meterr.dtadd|date:"d M Y"}}</td>
  

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          
            </div>
            </p>
            <div class="pagination pagination-sm m-0 float-right">
              <span class="step-links">
                {% if meters.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ meters.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
                </span>

                {% if meters.has_next %}
                <a href="?page={{ meters.next_page_number }}">next</a>
                <a href="?page={{ meters.paginator.num_pages }}"
                  >last &raquo;</a
                >
                {% endif %}
              </span>
          </div>



     

        </div>
      </div>


    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock content %}
















