{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | DC INSPECTIONS</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    <button title="GO BACK" type="button" class="btn btn-default btn-sm" onclick="history.back()">
        <i class="fas fa-reply"></i>
    </button>
    <a href="{% url 'postpaid:dc-viewinspected' %}" class="btn btn-default btn-sm" title="REFRESH">
        <i class="fas fa-sync-alt"></i>
    </a>
    <h1 class="m-0">
        Domestic Customer Inspections

    </h1>
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'postpaid:domestic-customers' %}">DC Target List</a>
            </li>
            <li class="breadcrumb-item active">My-Inspections</li>
        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <br>
                        <p>
                        <form action="{% url 'postpaid:search-by-meter-dc-inspected' %}">
                            <div class="input-group">
                                <input
                                        type="text"
                                        name="keyword"
                                        required
                                        class="form-control form-control-lg"
                                        placeholder="Search By  Meter Number"
                                />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        </p>

                        <p>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Meter Number</th>
                                    <th>Account Number</th>
                                    <th>Customer Name</th>
                                    <th>Metering Status</th>
                                    <th>Meter Type</th>
                                    <th>Phase Type</th>
                                    <th>AVG Con</th>
                                    <th>Meter Reading</th>
                                    <th>System Reading</th>
                                    <th>Date Uploaded</th>
                                    <th>Inspector</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for meterr in meters %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td title="CLICK TO VIEW MORE DETAILS"><a
                                                href="{% url 'postpaid:view-dc-inspected' meterr.id %}">{{ meterr.dc_meterno }}</a>
                                        </td>
                                        <td>{{ meterr.dc_accountno }}</td>
                                        <td>{{ meterr.dc.customer_name }}</td>
                                        <td class="text-uppercase">{{ meterr.dc_meteringstatus }}</td>
                                        <td class="text-uppercase">{{ meterr.dc_conf_type }}</td>
                                        <td class="text-uppercase">{{ meterr.dc_metertype }}</td>
                                        <td>{{ meterr.dc.avg_units }}</td>
                                        <td>{{ meterr.dc_reading }}</td>
                                        <td>{{ meterr.dc_reading }}</td>
                                        <td>{{ meterr.dtadd|date:"d M Y" }}</td>
                                        <td>{{ meterr.dc_inspector }}</td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        </p>
                        <div class="pagination pagination-sm m-0 float-right">
              <span class="step-links">
                {% if meters.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ meters.previous_page_number }}">previous</a>
                {% endif %}

                  <span class="current">
                  Page {{ meters.number }} of {{ meters.paginator.num_pages }}.
                </span>

                  {% if meters.has_next %}
                      <a href="?page={{ meters.next_page_number }}">next</a>
                      <a href="?page={{ meters.paginator.num_pages }}"
                      >last &raquo;</a
                      >
                  {% endif %}
              </span>
                        </div>
		
		 <p>
                <a href="{% url 'postpaid:dc-export-uploads' %}" class="btn btn-primary btn-sm">Export to csv(Last 7 Days)</a>
              </p>


                    </div>
                </div>


            </div>

            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock content %}
















