{% extends "index.html" %}
<!-- /.col-md-6 -->
{% load humanize %}
<!-- /.col-md-6 -->
{% block title %}
    <title>WORKFORCE | MV INSPECTION</title>
{% endblock title %}
<!-- /.col-md-6 -->
{% block pagetitle %}
    {#    <h1 class="m-0">#}
    {#        Search Substation#}
    {##}
    {#    </h1>#}
{% endblock pagetitle %} {% block breadcrumb %}

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url 'main:my-dashboard' %}">Home</a>
            </li>


        </ol>
    </div>
{% endblock breadcrumb %}
<!-- /.col-md-6 -->
{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">MV Inspection Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0 table-responsive p-0">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>INSPECTION ITEM</th>
                                <th>FINDINGS</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>FEEDER</td>
                                <td class="text-uppercase">{{ lvinspection.feeder }}</td>


                            </tr>
                            <tr>
                                <td>2</td>
                                <td>FEEDER SECTION</td>
                                <td class="text-uppercase">{{ lvinspection.feeder_section }}</td>


                            </tr>
                            <tr>
                                <td>3</td>
                                <td>SECTION DETAIL</td>
                                <td class="text-uppercase"> {{ lvinspection.feeder_section.name }}</td>


                            </tr>

                            <tr>
                                <td>4.</td>
                                <td>DATE OF INSPECTION</td>
                                <td>{{ lvinspection.dtupdate|date:"d M Y" }}</td>


                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>INSPECTOR</td>
                                <td class="text-uppercase">KPL{{ lvinspection.inspectedby }}
                                    - {{ lvinspection.inspectedby.user.name }}, {{ lvinspection.inspectedby.othername }}
                                    <br>
                                    <span>MOBILE : {{ lvinspection.inspectedby.user.mobile }}</span></td>


                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>INSPECTOR MOTES</td>
                                <td class="text-uppercase">{{ lvinspection.comments }}</td>


                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <p class="text-uppercase"><strong>INSPECTION DETAILS</strong></p>
                                </td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>NO. POLES WITHOUT STAYS?</td>
                                <td>{{ lvinspection.no_poleswithoutstays }}
                                </td>


                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>NO. OF ROTTEN TX STRUCTURE</td>
                                <td>{{ lvinspection.no_rottentxstructure }}


                                </td>


                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>NO. OF LEANING TX STRUCTURE</td>
                                <td>{{ lvinspection.no_leaningtxstructure }}

                                </td>


                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>NO. OF SAGS TO RETENTION</td>
                                <td>{{ lvinspection.no_sagstoretention }}

                                </td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>NO. OF SECTIONS TO DOUBLE JUMPER</td>
                                <td>{{ lvinspection.no_sectionstodoublejumper }}

                                </td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>NO. OF FUSE MOUNTS TO BE REPLACED</td>
                                <td>{{ lvinspection.no_replacefusemounts }}

                                </td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>NO. OF HT FUSES BYPASSED</td>
                                <td>{{ lvinspection.no_bypassedhtfuses }} <br>
                                </td>

                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>NO. OF SPUR TAPLINS TO INSTALL</td>
                                <td>{{ lvinspection.no_spurtaplins }}
                                </td>

                            </tr>
                               <tr>
                                <td>15.</td>
                                <td>NO. OF FAULTY A/B SWITCHES</td>
                                <td>{{ lvinspection.no_faultyabswitces }}
                                </td>

                            </tr>
                              <tr>
                                <td>16.</td>
                                <td>NO. OF NEW A/B SWITCHES TO INSTALL</td>
                                <td>{{ lvinspection.no_installabswitces }}
                                </td>

                            </tr>
                              <tr>
                                <td>17.</td>
                                <td>NO. OF LOCATION WITH OVERHANGING TREES</td>
                                <td>{{ lvinspection.no_overhangingtrees }}
                                </td>

                            </tr>
                             <tr>
                                <td>18.</td>
                                <td>NO. OF KMs FOR TRACE MAINTENANCE</td>
                                <td>{{ lvinspection.no_tracemaint }}
                                </td>

                            </tr>
                             <tr>
                                <td>19.</td>
                                <td>NO. OF KMs FOR UPRATING CONDUCTORS</td>
                                <td>{{ lvinspection.no_upratingconductors }}
                                </td>

                            </tr>
                             <tr>
                                <td>20.</td>
                                <td>NO. OF AUTOCLOSURES REQUIRED</td>
                                <td>{{ lvinspection.no_autoclosures }}
                                </td>

                            </tr>
                             <tr>
                                <td>20.</td>
                                <td>NO. OF FAULTY AUTOCLOSURES </td>
                                <td>{{ lvinspection.no_autoclosuresfaulty }}
                                </td>

                            </tr>
                            <tr>
                                <td>21.</td>
                                <td>NO. OF FAULTY HV CABLE </td>
                                <td>{{ lvinspection.no_faultyhvcable }}
                                </td>

                            </tr>
                             <tr>
                                <td>22.</td>
                                <td>NO. OF STRUCTURES WITHOUT TX </td>
                                <td>{{ lvinspection.no_structureswithouttx }}
                                </td>

                            </tr>
                             <tr>
                                <td>23.</td>
                                <td>NO. OF HV JUMPER CABLES WITHOUT LUGS </td>
                                <td>{{ lvinspection.no_jumpercableswithoutlugs }}
                                </td>

                            </tr>
                             <tr>
                                <td>24.</td>
                                <td>NO. OF MISSING/DISCONNECTED SURGE DIVERTERS </td>
                                <td>{{ lvinspection.no_disconnsurged }}
                                </td>

                            </tr>
                            <tr>
                                <td>25.</td>
                                <td>NO. OF TX MISSING EARTHING </td>
                                <td>{{ lvinspection.no_txmissingearthing }}
                                </td>

                            </tr>
                             <tr>
                                <td>26.</td>
                                <td>NO. OF SUBSTATION WITHOUT NUMBERS </td>
                                <td>{{ lvinspection.no_ssnnumberless }}
                                </td>

                            </tr>
                             <tr>
                                <td>27.</td>
                                <td>NO. OF LOCATIONS WITH WAYLEAVE INFRINGEMENT </td>
                                <td>{{ lvinspection.no_wayleaveinfrng }}
                                </td>

                            </tr>


                            <tr>
                                <td>28.</td>
                                <td>POLE DEFECTS</td>
                                <td>
                                    <div class="card">

                                        <!-- /.card-header -->
                                        <div class="card-body p-0">
                                            <table class="table table-sm">
                                                <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>DEFECT TYPE</th>
                                                    <th>LOCATION</th>
                                                    <th>CORDINATES</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for pd in poledefects %}

                                                    <tr>
                                                        <td>{{ forloop.counter }}.</td>
                                                        <td class="text-uppercase">{{ pd.defect_type }}</td>
                                                        <td class="text-uppercase">{{ pd.location }}</td>
                                                        <td class="text-uppercase">{{ pd.x }},{{ pd.y }}</td>

                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </td>
                                <td></td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                        <form class="form-horizontal" action="" method="post">

                            {% csrf_token %}
                            <div class="form-group row" id="retention_req">
                                <label for="retention_req" class="col-sm-3 col-form-label text-sm">Choose Status</label>
                                <div class="col-sm-9">
                                    {{ form.aprv_key }}
                                </div>
                            </div>
                            <div class="form-group row" id="retention_req">
                                <label for="retention_req" class="col-sm-3 col-form-label text-sm">Approve Notes</label>
                                <div class="col-sm-9">
                                    {{ form.aprv_notes }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Approval</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.row -->

    <!-- /.container-fluid -->

{% endblock content %}
















